# data
src/data/raw/*
!src/data/raw/.gitkeep
src/data/processed/*
!src/data/processed/.gitkeep
*.csv

!docs/**/*.csv
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# jupyter
.ipynb_checkpoints/

# node
node_modules/
frontend/build/
frontend/dist/

# env / secrets
.env
*.local

# os
.DS_Store